body {
  font-family:'PT Sans', sans-serif;
  font-style: normal;
  font-weight: normal;
  color: $dark-bg;
  background-color:$dark-bg;
}

h1,h2,h3,h4,h5,h6{
  font-family: 'TrajanPro', serif;
  //font-style: normal;
  margin: 2em 0 0;
  padding:0;
  text-transform: uppercase;
  //text-rendering: optimizeLegibility;
  //font-feature-settings: "liga", "dlig", "onum";
}
a{
  text-decoration: none;
  color:$dark-text;
  &:hover, &:focus {
    text-decoration: underline;
    color:$dark-bg;
  } 
  
}

p{
  margin-top:0;
  //text-rendering: optimizeLegibility;
  //font-feature-settings: "liga", "dlig", "onum";
}

hr{
  height:7px;
  background:
    //url('../img/border_bottom.png') repeat-x center bottom
    url('../img/border_top.png') repeat-x center top
  ;
  border:0;
}

blockquote {

  //font-size:0.875em;
  //font-style: italic;
  color:$dark-text;
  //text-transform: uppercase;
  font-family:'TrajanPro', serif;
  margin:0 0 ;
  padding:0 0 0 2em;
  border-left:6px solid $light-bg;
  p {
    margin:0;
  }
  span {
    display: block;
    font-size: 0.75em;
    color:$dark-bg;
    //font-family: 'PT Sans', sans-serif;
    //text-transform: none;
    //font-style: italic;
    //text-transform: uppercase;
  }

}

.btn {
  position: relative;
  display:inline-block;
  padding:0.75em 1em 0.25em;
  text-transform: uppercase;
  line-height: 1em;
  font-weight: bold;
  color:$footer-text;
  text-shadow: 0 0 3px $dark-bg;
  &:hover, &:focus {
    color:lighten($footer-text,13%);
    text-decoration: none;
    background: rgba($light-bg,0.2);
    &:before {
      opacity:1;
    }
  }
  &:before {
    position:absolute;
    z-index:0;
    display:block;
    content:" ";
    right:-4px; left:-4px; top:-7px; bottom:-7px;
    opacity:0.6;
    background:
      url('../img/border_right.png') repeat-y right top,
      url('../img/border_left.png') repeat-y left center,
      url('../img/border_bottom.png') repeat-x center bottom,
      url('../img/border_top.png') repeat-x center top transparent
      ;
  }
}


.container[role="document"] {
  //background: linear-gradient(to bottom, $dark-bg 75%, $light-bg 100%);
}

.content {
  //padding: 0 0.5em;
  @include breakpoint($s1) {
    //padding:0 1em;
  }
  @include breakpoint($s3) {
    //padding:0 2em;
  }
}

.main-wrap {
  position:relative;
  background: white;
  box-shadow: inset 0 0 200px 0 $dark-text;
  
  // z-index:1;
  // &:before {
  //   position:absolute;
  //   z-index:-1;
  //   display:block;
  //   content:" ";
  //   right:-4px; left:-4px; top:-7px; bottom:-7px;
  //   background:
  //     url('../img/border_right.png') repeat-y right top,
  //     url('../img/border_left.png') repeat-y left center,
  //     url('../img/border_bottom.png') repeat-x center bottom,
  //     url('../img/border_top.png') repeat-x center top
  //     ;
  // }
}

.main{
  max-width: $maximum;
  margin:0 auto;
  //color:$dark-bg;
  padding:1em 1em 3em;



  
  h1,h2,h3,h4,h5,h6{
   font-weight: normal;
   color:$dark-text;
  }
}


.circa {
  position:relative;
  z-index: 0;
  &:before {
    position:absolute;
    z-index:-1;
    display:block;
    content:" ";
    right:-4px; left:-4px; top:-7px; bottom:-7px;
    background:
      url('../img/border_right.png') repeat-y right top,
      url('../img/border_left.png') repeat-y left center,
      url('../img/border_bottom.png') repeat-x center bottom,
      url('../img/border_top.png') repeat-x center top
      ;
    right:-2px; left:-2px; top:-2px; bottom:-2px;
    background: $dark-text;
  }
}




.balfel {

  @include breakpoint($s1) {
    float:left;
    width:50%;
  }
}

.jobbfel {

  @include breakpoint($s1) {
    float:left;
    width:50%;
  }

}

