.page-template-template-contact-php{

  .main{

    background: url('../img/bemut.jpg') no-repeat right bottom white;
    background-size: cover;


   
    font-size: 1.5em;
    padding-right:33%;

    

  

  }
}