.content-info{
	position:relative;
	z-index:2;
	color:$footer-text;
  //  background-image: linear-gradient(to bottom, $linea, $dark-bg 50px);

}

.footer-inner {
  margin:0 auto;
  max-width: 1140px;
  padding: 1em;
}