* {
    box-sizing:border-box;
}

.clearfix, .container, article {
	*zoom: 1;
	&:before, &:after {
		display: table;
		content: "";
		line-height: 0;
	}
	&:after {
		clear: both;
	}
}

img {
  /* Responsive images (ensure images don't scale beyond their parents) */
  max-width: 100%;
  /* Part 1: Set a maxium relative to the parent */
  width: auto\9;
  /* IE7-8 need help adjusting responsive images */
  height: auto;
  /* Part 2: Scale the height according to the width, otherwise you get stretching */
  vertical-align: middle;
  border: 0;
  -ms-interpolation-mode: bicubic;
}



// .clearfix:after, .container:after, article:after {
//   visibility: hidden;
//   display: block;
//   font-size: 0;
//   content: " ";
//   clear: both;
//   height: 0;
//   }
// * html .clearfix             { zoom: 1; } /* IE6 */
// *:first-child+html .clearfix { zoom: 1; } /* IE7 */

// .container, article {
//   @extend .clearfix;
// }


/* facebook comments */
//.fb-comments, .fb-comments iframe[style], .fb-like-box, .fb-like-box iframe[style] {width: 100% !important;}
//.fb-comments span, .fb-comments iframe span[style], .fb-like-box span, .fb-like-box iframe span[style] {width: 100% !important;}