.home {
	   background-color:#000;
    background-image:url('../img/index_bg_1920px_3.jpg');
    background-repeat: no-repeat;
    background-position: 70% top; 
    background-size: cover;
    background-attachment: fixed;


  	@include breakpoint($s2) {
    	background-position: right top; 
  	}

	.container[role="document"] {
   	//background: url('../img/leather.jpg') no-repeat center center black;
  	//background-size: cover;
		background: none;
	}
	.main-wrap {
		background: none;
		box-shadow: none;
	}

	.main{
		color:$footer-text;
		font-size: 1.25em;
		text-transform: uppercase;
		padding-top:4em;


		@include breakpoint($s2){
			padding-right:30%;
			padding-top:20%;
			padding-left: 2em;
    } 



		h1 {
			display:none;
			text-transform: none;
		}
		p {
			font-family: 'TrajanPro';
		}

		blockquote {
			text-shadow: 0 0 5px $dark-bg;
			color:$footer-text;
			border-left:none;
			padding:0;
			font-weight: bold;
			a {
				&:hover {
					color:$footer-text;
					text-decoration: none;
				}
			}
			span {
				margin-top:1em;
				color:$footer-text;
			}
		}

		.btn {
			margin-top:4em;
			font-size: 0.875em;
		}
		
	}

	.content-info{
		//background: url('../img/leather.jpg') no-repeat center bottom black;
  	//background-size: cover;
  	display:none;
	}
}