.home {
		background: url('../img/leather.jpg') no-repeat center 150px black;
  	background-size: cover;
  	background-attachment: fixed;

	.container[role="document"] {
   	//background: url('../img/leather.jpg') no-repeat center center black;
  	//background-size: cover;
		background: none;
	}
	.main-wrap {
		&:before {
			display: none;
		}
	}

	.main{
		color:$footer-text;
		box-shadow: none;

		background: none;

  	//background: url('../img/leather.jpg') no-repeat center center black;
  	//background-size: cover;


		
		font-size: 1.25em;
		text-transform: uppercase;
		padding-right:38%;
		padding-top:20%;

		h1 {
			display:none;
			text-transform: none;
		}
		p {
			font-family: 'TrajanPro';
		}

		blockquote {
			text-shadow: 0 0 5px $dark-bg;
			color:$footer-text;
			border-left:none;
			padding:0;
			font-weight: bold;
			a {
				&:hover {
					color:$footer-text;
					text-decoration: none;
				}
			}
			span {
				margin-top:1em;
				color:$footer-text;
			}
		}

		.btn {
			margin-top:4em;
			font-size: 0.875em;
		}
		
	}

	.content-info{
		//background: url('../img/leather.jpg') no-repeat center bottom black;
  	//background-size: cover;
  	display:none;
	}
}