.nav-row{
	background: $dark-menu;
	padding: 0 0 1.75em;
	height:42px;
	overflow:hidden;
	position:relative;
	box-shadow: -5px 10px 30px -5px black;
	z-index:3;
	transition:height 200ms linear;



	&.fixed {
		@include breakpoint($s2) {
			position: fixed;
			top:0;
			left:0; right:0;
			z-index:3;
		}
	}

	&.open {
		height:270px;
		@include breakpoint($s2) {
	    height:42px;
  	}
	}


  
  @include breakpoint($s1) {
    //padding:0 1em;

  }
  
	@include breakpoint($s2) {
    padding:0 1em;
    height:42px;
  }

	
  @include breakpoint($s3) {
    padding:0 2em;

  }
	.opbutt {
		display:block;
		padding:0.125em 1em;
		margin-bottom:0.5em;
		color:$light-menu;
		text-decoration: none;
		text-align:center;
		font-family: "freehand", serif;
		font-size:1.75em;


		&:hover, &:focus {
			background: radial-gradient(ellipse at center, lighten($light-bg,0%) 0%, transparent 50%,transparent 100%);
			color:white;
		}


		@include breakpoint($s2) {
    	display:none;
  	}


	}
}

.nav-main{
	margin:0 auto;
	max-width: $maximum;
	ul {
		margin:0;
		padding:0;

	}
	li {
		list-style-type: none;
  	@include breakpoint($s2) {
    	float:left;
  	}	
	}

	a {
		position:relative;
		display:block;
		padding:0.125em 1em;
		color:$light-menu;
		text-decoration: none;
		text-align:center;
		font-family: "freehand", serif;
		font-size:1.75em;


		&:hover, &:focus {
			background: radial-gradient(ellipse at center, lighten($light-bg,0%) 0%, transparent 50%,transparent 100%);
			color:white;
		}
	}
}

.nav-tab {
	font-family: 'freehand';
	ul {

		margin:0;
		padding:0;
	}	
	li {
		list-style-type: none;
	}
	a {
		float:left;
		display: block;
		font-size:1.5em;
		padding:0.125em 0.5em; 
	}
}

.nav-prodcat {
	display: none;
	width:25%;
	float:left;
	padding:0 2em 0 1em;
	
	h1.reflist-title {
		font-size: 1.25em;
		margin:1em 0 0.5em 0;
	}

	ul {
		margin:0;
		padding:0
	}
	li {
		list-style-type: none;
	}
	a {
		font-family: 'TrajanPro', serif;
		//font-size: 1.25em;
		line-height: 1em;
		padding: 0.5em 0 0.25em;
		margin-bottom:0.333333em; 
		display: block;
		border-bottom: 1px solid transparent;
	
		&:hover, &:focus {
			text-decoration: none;
			
		}
		&.active {
			border-bottom: 1px solid $dark-text;
		}
	}
}


.navigation-post {

	a {
		max-width: 48%;

		&:hover, &:focus {
			text-decoration: none;
				
		}

		&[rel="prev"]{
			float:left;
		}

		&[rel="next"]{
			float:right;
		}
		
		.entypo {
			font-size: 3em;
			vertical-align: -0.13333em;
		}

	}

}