.nav-row{
	background: $dark-menu;
	padding: 0 0.5em;
	height:42px;
	//overflow:hidden;
	position:relative;
	box-shadow: -5px 10px 30px -5px black;
	z-index:3;

	&.fixed {
		position: fixed;
		top:0;
		left:0; right:0;
		z-index:3;
	}

	&.open {
		height:auto;
	}


  
  @include breakpoint($s1) {
    padding:0 1em;
  }
  
	
  @include breakpoint($s3) {
    padding:0 2em;
  }
	.brand {
		display:none;
	}
}

.nav-main{
	margin:0 auto;
	max-width: $maximum;
	ul {
		margin:0;
		padding:0;

	}
	li {
		list-style-type: none;
  	@include breakpoint($s2) {
    	float:left;
  	}	
	}

	a {
		position:relative;
		display:block;
		padding:0.33333333em 1em;
		color:$light-menu;
		text-decoration: none;
		text-align:center;
		font-family: "freehand", serif;
		font-size:1.5em;

		&:hover,&.focus {
			//background: $light-bg;
			color:white;
			&:before {
				position: absolute;
				z-index: -1;
				content: "";
				//display: block;
				top:0;
				left:0; right:0;
				height:45px;
				background: linear-gradient(to bottom, black 0%, lighten($dark-bg,10%) 85%);

				box-shadow: 0 3px 3px 0px black; 
				//outline: 3px dashed white;
				//background: url('../img/divider.gif') repeat-x center 20px $light-bg;
				border-radius: 0 0 5px 5px;
				//border-top:0;
				//border: 1px dashed white;
			}
		}
	}
}

.nav-tab {
	font-family: 'freehand';
	ul {

		margin:0;
		padding:0;
	}	
	li {
		list-style-type: none;
	}
	a {
		float:left;
		display: block;
		font-size:1.5em;
		padding:0.125em 0.5em; 
	}
}

.nav-prodcat {
	width:25%;
	float:left;
	padding:0 2em 0 1em;
	
	h1.reflist-title {
		font-size: 1.25em;
		margin:1em 0 0.5em 0;
	}

	ul {
		margin:0;
		padding:0
	}
	li {
		list-style-type: none;
	}
	a {
		font-family: 'TrajanPro', serif;
		//font-size: 1.25em;
		line-height: 1em;
		padding: 0.5em 0 0.25em;
		margin-bottom:0.333333em; 
		display: block;
		border-bottom: 1px solid transparent;
	
		&:hover, &:focus{
			text-decoration: none;
			border-bottom: 1px solid $dark-text;
		}
	}
}