.page-template-template-contact-php{
    background-color:#000;
    background-image:url('../img/index_bg_1920px_2.jpg');
    background-repeat: no-repeat;
    background-position: 55% top; 
    background-size: cover;
    background-attachment: fixed;
    
    @include breakpoint($s1){
    
    } 
    
    @include breakpoint($s2){
      background-position: 60% top; 
    } 

    @include breakpoint($s3){
      background-position: 80% top; 
    } 
  
  .main-wrap {
    background: none;
    box-shadow: none;
  }
  
  .main{
    color:$footer-text;
    font-size: 1.25em;
    padding-top:4em;

    @include breakpoint($s2){
      padding-right:40%;
      //padding-top:20%;
      //padding-left: 2em;
    }

    a {
      &:hover {
        color:$footer-text;
        text-decoration: none;
      }
    } 

  }

  .content-info{
    display:none;
  }
}

.traji{
  font-family: 'TrajanPro', serif;
}

.page-id-2 {
  background: url('../img/bemut.jpg') no-repeat right bottom white;
  background-size: 200%;
  padding-bottom:25em;

  
  @include breakpoint($s1) {
      background-size: 150%;
      padding-bottom: 30em;

  }
      
  @include breakpoint($s2) {
    background-size: 100%;
    background-attachment: fixed;
    padding-bottom: 4em;
  }

  @include breakpoint($s3) {
    background-size: 120%;
  }

  .main-wrap {
    background: none;
    box-shadow: none;
  }
  
  .main {
    
    @include breakpoint($s2) {
      padding-right:38%;
    }

    @include breakpoint($s3) {
      padding-right:48%;
    }
  
  
  }

  .content-info{
    display:none;
  }
}