.reference{
	min-height: 590px;
}

.full-bg {
	@include breakpoint($s2){
		&.abs{
			position:absolute;
			top:0;
			bottom:0;
		}
	}
}
article.post, article.reference {
	//position: relative;
	
	figure  {
		margin:-2em -1em 0 -1em;
		background-repeat:no-repeat;
		background-position:50% 50%;
		background-size: cover;
		min-height:320px;
		filter: brightness(0.5) sepia(0.25) Saturate(1.75);
		@include breakpoint($s2){
			position:fixed;
			top:42px;
			left:50%;
			bottom:0;
			right:0;
			width:50%;
			margin:0 0em 0 0em;
			height:auto;
			//z-index:2;
		}


		a{
			display:block;
			background: black;
			position: relative;
			
			&:hover, &:focus {
				text-decoration: none;
				cursor: -moz-zoom-in;
				cursor: -webkit-zoom-in;
				cursor: zoom-in;
				img {
					//opacity:0.5;
					filter: brightness(0.5) sepia(0.25) Saturate(1.75);
				}
			}
			

			&:after {
				transition: all 300ms linear;
				opacity: 0;
				position:absolute;
				top:0;bottom:0;
				left:0;right:0;
				vertical-align: middle;
				text-align: center;
				content:"\1F50D";
				font-family: Entypo;
				font-size: 16em;
				line-height: 210%;
				color:$footer-text;
			}
			&:hover:after {
				opacity: 0.3;
			}
			img {

				display:none;
	      transition: all 300ms linear;
	      
	      @include breakpoint($s2){
	      	display: none;
	      }

			}
		}



	}

	header {
		margin:1.5em -0.5em 1em -0.5em;
		padding: 0 0.5em 0.5em 0.5em;
		border-bottom: 1px solid $dark-text;
		@include breakpoint($s2){
			width:51%;
			padding-right: 2em;
			//float:left;
			//margin-right:50%;
			//padding:0 1em;

		} 
	}
	
	.entry-title {
		font-size: 1.5em;
		margin:0;
		padding:0;

		
	}

	.entry-summary, .entry-content,  .entry-discl {
		color:black;
		@include breakpoint($s2){
			width:51%;
			padding-right: 2em;
			//clear:left;
			//float:left;
			//margin-right:50%;
			//padding:0 1em;
		} 
	}
	.entry-content {
		@include breakpoint($s2){
			//margin-bottom: 15em;
		} 
	}


  .entry-discl {
		font-size: 0.875em;

		p {
			opacity:0.75;
		}
	  span.picto {

	  }
	  @include breakpoint($s2){
			//position:absolute;
			//bottom:2.33333em;
		} 
  	
  	.btn {
  		margin-top:2em;
			display:block;
			color:$dark-text;
			background: rgba($light-bg,0.2);
			text-shadow: 0 0 2px $footer-text;
			&:hover, &:focus {
    		color:white;
    		text-decoration: none;
    		background: rgba($light-bg,0.5);
  		}
		}
  }

	footer {
		font-size: 0.875em;

		@include breakpoint($s2){
			width:49%;
			margin:1em 0em 0 0em;
		} 
	}

	.navigation-post {
		
	}
}


.blog {
	

	.page-header {
	
		@include breakpoint($s1){
		}
		@include breakpoint($s2){
				margin-left:10%;
				padding-left:0.5em;
		}
		
		h1 {
			margin:1em 0 1em;
		}

	}
}
.blog article.post {
	margin-bottom: 4em;
	figure{
		text-align: center;
		@include breakpoint($s1){
			text-align: left;
			float:right;
			width:27%;
			margin:0em 0em 0 0em;
		}
		@include breakpoint($s2){
			text-align: left;
			width:30%;
			margin:0em 0em 0 0em;
		}
		
		a {
			background: none;
			&:hover, &:focus {
				cursor: pointer;
				img {
					filter: brightness(0.5) sepia(0.25) Saturate(1.75);
				}
			}
			

			&:after {
				display: none;
			}


		}
	}
	header {
		margin:1em 0;		
		@include breakpoint($s1){
				width:70%;
				float:left;
		}
		@include breakpoint($s2){
				width:50%;
				margin:1em 10%;
		}
	} 
	
	.entry-summary {
		padding:0 0.5em;

		@include breakpoint($s1){
				width:70%;
				float:left;
		}
		@include breakpoint($s2){

			width:50%;
			margin:0 10%;
		} 
	}
}

.gallery {
	margin:1em -1%;
	a {
		margin:1%;
		width:31.33333%;
		display: block;
		float:left;
		background: black;
		position: relative;
		border:1px solid $dark-text;
		
		&:hover, &:focus {
			text-decoration: none;
			cursor: -moz-zoom-in;
			cursor: -webkit-zoom-in;
			cursor: zoom-in;
			img {
				filter: brightness(0.5) sepia(0.25) Saturate(1.75);
			}
		}
		

		&:after {
			transition: all 300ms linear;
			opacity: 0;
			position:absolute;
			top:0;bottom:0;
			left:0;right:0;
			vertical-align: middle;
			text-align: center;
			content:"\1F50D";
			font-family: Entypo;
			font-size: 10em;
			line-height: 110%;
			color:$footer-text;
		}
		&:hover:after {
			opacity: 0.3;
		}
		img {
	    transition: all 300ms linear;
	    //filter: brightness(1);
		}
	}
}