article.post, article.reference {
	position: relative;
	
	figure  {
		margin:-1em -1em 0 -1em;
		@include breakpoint($s2){
			float:right;
			width:49%;
			margin:0em 0em 0 0em;
		}


		a{
			display:block;
			background: black;
			position: relative;
			
			&:hover, &:focus {
				text-decoration: none;
				img {
					//opacity:0.5;
					filter: brightness(0.5) sepia(0.25) Saturate(1.75);
				}
			}
			

			&:after {
				transition: all 300ms linear;
				opacity: 0;
				position:absolute;
				top:0;bottom:0;
				left:0;right:0;
				vertical-align: middle;
				text-align: center;
				content:"\1F50D";
				font-family: Entypo;
				font-size: 16em;
				line-height: 210%;
				color:$footer-text;
			}
			&:hover:after {
				opacity: 0.3;
			}
			img {
	      transition: all 300ms linear;
	      //filter: brightness(1);
			}
		}



	}

	header {
		margin:1.5em -0.5em 1em -0.5em;
		padding: 0 0.5em 0.5em 0.5em;
		border-bottom: 1px solid $dark-text;
		@include breakpoint($s2){
			width:49%;
			float:left;
			//margin-right:50%;
			//padding:0 1em;

		} 
	}
	
	.entry-title {
		font-size: 1.5em;
		margin:0;
		padding:0;

		
	}

	.entry-summary, .entry-content, .entry-discl {
		color:black;
		@include breakpoint($s2){
			width:48%;
			clear:left;
			float:left;
			//margin-right:50%;
			//padding:0 1em;
		} 
	}

  .entry-discl {
		font-size: 0.875em;
		opacity:0.75;
	  span.picto {

	  }
	  @include breakpoint($s2){
			position:absolute;
			bottom:1em;
		} 
  }

	footer {
		font-size: 0.875em;

		@include breakpoint($s2){
			clear: right;
			float:right;
			width:49%;
			margin:1em 0em 0 0em;
		} 
	}

	.navigation-post {
		
	}
}