article.post, article.reference {
	position: relative;
	
	figure  {
		margin:-1em -1em 0 -1em;
		@include breakpoint($s2){
			float:right;
			width:49%;
			margin:0em 0em 0 0em;
		}


		a{
			display:block;
			background: black;
			
			&:hover, &:focus {
				text-decoration: none;
				img {
					//opacity:0.5;
					filter: brightness(0.5) sepia(0.25) Saturate(1.75);
				}
			}
			img {
	      transition: all 300ms ease-in;
	      //filter: brightness(1);
			}
		}



	}

	header {
		margin:2em -0.5em 1em -0.5em;
		padding: 0 0.5em 0.5em 0.5em;
		border-bottom: 1px solid $dark-text;
		@include breakpoint($s2){
			width:49%;
			float:left;
			//margin-right:50%;
			//padding:0 1em;

		} 
	}
	
	.entry-title {
		font-size: 1.5em;
		margin:0;
		padding:0;

		
	}

	.entry-summary, .entry-content, #respond{
		color:black;
		@include breakpoint($s2){
			width:48%;
			clear:left;
			float:left;
			//margin-right:50%;
			//padding:0 1em;
		} 
	}

	.entry-share{
		font-size: 0.875em;



		@include breakpoint($s2){
			width:48%;
			clear:left;
			float:left;
			position: absolute;
			bottom:2em;

		}
		h3 {
			margin-bottom: 0.5em;
			small {
				display: block;
			}
		} 
		
		ul {
			margin:0;
			padding:0;
		}
		li {
			list-style-type: none;
			a {
				float:left;
				display: block;
				background: black;
				border-radius: 50%;
				text-align: center;
				width:2em;
				height:2em;
				margin-right: 1em;

			}
		}


	}

	footer {
		font-size: 0.875em;

		@include breakpoint($s2){
			clear: right;
			float:right;
			width:49%;
			margin:1em 0em 0 0em;
		} 
	}

	.navigation-post {
		
	}
}