article.post, article.reference {
	position: relative;
	figure  {
		@include breakpoint($s2){
			margin:-1em -1em -1em 0;
			float:right;
			width:50%;
		
		} 
	}

	header {
		@include breakpoint($s2){
			width:50%;
			float:left;
			//margin-right:50%;
			//padding:0 1em;

		} 
	}
	
	.entry-title {
		margin-top:0;
	}

	.entry-summary, .entry-content, #respond{
		@include breakpoint($s2){
			width:50%;
			clear:left;
			float:left;
			//margin-right:50%;
			//padding:0 1em;
		} 
	}

	.entry-thumbs {
		@include breakpoint($s2){
			clear:left;
			float:left;
			width:50%;
			position:absolute;
			bottom:0.75em;
		}

		ul {
			margin:0;
			padding:0;
		}
		li {
			list-style-type: none;
		}
		a {
			display:block;
			width:20%;
			float:left;
			padding:0.25em;
		} 

	}
	.navigation-post {
		position:absolute;
		background: rgba(white, 0.8);
		right:0;
		top:100%;
	}
}