.reflist-wrap {
	margin-top:2em;

}
.reflist {
	margin:-1em -1em -1em -1em;
	padding:0 0em;
}
.reflist-item {
	list-style-type:none;
	margin:0;
	padding:0;
	

	a{
		position:relative;
		display:block;
		text-align: left;
		float:left;
		width:50%;
		position:relative;
		//overflow:hidden;
		padding:1em;


		
		@include breakpoint($s1){
			width:33.33333333%;
		}

		@include breakpoint($s2){
			width:25%;
		}

		@include breakpoint($s3){
			width:20%;
		}


		&:hover{
			//text-decoration: none;


			img {
				transform:scale(1.0875);
				//opacity:0;
			}
			h3 {
				//display:block;
				opacity:1;
				transform:scale(1.0875);
			}
		}
	

		}

	img {
		transition: all 200ms ease-in;
		//width:50%;
		display: block;

	

	}

	h3{
		font-size:1em;
		padding:20% 1em;
		margin:0;
		position: absolute;
		top:1em;left:1em; bottom:1em; right:1em;
		//z-index:3;
		//margin-left:0;
		text-align: center;
		background: rgba(black,0.7);
		opacity:0;
		transition: all 200ms ease-in;

	}
}


.refnyito {
	position: absolute;
	left:	5.25em;
	top:1em;
	z-index:1;
	a {
		border-radius: 3px;
		padding:0.333em 0.5em 0.25em 0.25em;
		span{
			font-size: 2em;
			line-height: 1em;
		}
		transition: all 200ms linear;
		&:hover,	&:focus{
			background-color: $dark-bg;
			color:$footer-text;
			text-decoration: none;
			cursor: pointer;
		}
	}
}

.chooser {
 	
 	&.in {
		margin-bottom: 3em;
 		padding-bottom: 2em;
		border-bottom:1px solid $dark-text;
 	
	}
}

