.reflist-wrap {
	margin-top:2em;

}
.reflist {
	margin:-1em -1em -1em -1em;
	padding:0 0em;
}
.reflist-item {
	list-style-type:none;
	margin:0;
	padding:0;
	

	a{
		position:relative;
		display:block;
		text-align: left;
		float:left;
		width:50%;
		position:relative;
		//overflow:hidden;
		padding:1em;


		
		@include breakpoint($s1){
			width:33.33333333%;
		}

		@include breakpoint($s2){
			width:25%;
		}

		@include breakpoint($s3){
			width:20%;
		}


		&:hover{
			//text-decoration: none;


			img {
				transform:scale(1.0875);
				//opacity:0;
			}
			h3 {
				//display:block;
				opacity:1;
			}
		}
	

	}

	img {
		transition: all 200ms ease-in;
		//width:50%;
		display: block;

	

	}

	h3{
		font-size:1em;
		padding:20% 1em;
		margin:0;
		position: absolute;
		top:0.5em;left:0.5em; bottom:0.5em; right:0.5em;
		//z-index:3;
		//margin-left:0;
		text-align: center;
		background: rgba(black,0.7);
		opacity:0;
		transition: all 400ms ease-in;

	}
}


.refnyito {
	position: absolute;
	right:50%;
	z-index:1;
	margin-left:1em;
	margin-top: 1em;	
	a {
		display: block;
		font-size: 35px;
		line-height: 35px;
		width:35px;
		height: 35px;
		border-radius: 50%;
		color:white;
		text-align: center;
		background-color: $footer-text;
		transition: all 200ms linear;
		&:hover,	&:focus{
			background-color: $dark-bg;
			color:$footer-text;
			text-decoration: none;
		}
	}
}

#chooser {
	max-height:0;
	overflow:hidden;
	transition: max-height 600ms ease-in-out;
	
	&.open {
		max-height:2000px;
		margin-bottom: 2em;
		padding-bottom: 1em;
		border-bottom: 1px solid $dark-text;
	}

}

