.reflist-wrap {
	//margin-top:2em;

}
.reflist {
	margin:-1em -1em -1em -1em;
	padding:0 0em;
}
.reflist-item {
	list-style-type:none;
	margin:0;
	padding:0;
	

	a{
		position:relative;
		display:block;
		text-align: left;
		float:left;
		width:50%;
		position:relative;
		//overflow:hidden;
		padding:0.25em;
		backface-visibility:hidden;
		@include breakpoint($s1){
			padding:0.5em;
		}
		
		@include breakpoint($s2){
			padding:1em;
		}



		
		@include breakpoint($s1){
			width:33.33333333%;
		}

		@include breakpoint($s2){
			width:25%;
		}

		@include breakpoint($s3){
			width:20%;
		}


		&:hover{
			//text-decoration: none;


			img {
				
				transform:scale(1.0875);
				//opacity:0;
			}
			h3 {
				//display:block;
				opacity:1;
				transform:scale(1.0875);
			}
		}
	

		}

	img {
		backface-visibility:hidden;
		transition: all 200ms ease-in;
		//width:50%;
		display: block;
		padding:3px;
		background: 
			url(../img/border_top.png) repeat-x center top,
			url(../img/border_right.png) repeat-y right center,
			url(../img/border_bottom.png) repeat-x center bottom,
			url(../img/border_left.png) repeat-y left center;
		


	

	}

	h3{
		backface-visibility:hidden;
		font-size:1em;
		padding:20% 1em;
		margin:3px;
		position: absolute;
		top:0.25em;left:0.25em; bottom:0.25em; right:0.25em;

		//z-index:3;
		//margin-left:0;
		text-align: center;
		color:#fff;
		background: rgba(black,0.7);
		opacity:0;
		transition: all 200ms ease-in;
		@include breakpoint($s1){
			top:0.5em;left:0.5em; bottom:0.5em; right:0.5em;
		}
		@include breakpoint($s2){
			top:1em;left:1em; bottom:1em; right:1em;
		}
		
	}
}


.refnyito {
	float:right;
	margin-top:-0.666em;
	z-index:1;
	a {
		//border-radius: 3px;
		//padding:0.333em 0.5em 0.25em 0.25em;
		display:inline-block;
		font-size: 2.5em;
		line-height: 1em;
		width:1em;
		height:1em;
		text-align:center;
		//background-color:$light-bg;
		span{
			
			
		}
		transition: all 200ms linear;
		&:hover,	&:focus{
			background-color: #000;
			color:$footer-text;
			text-decoration: none;
			cursor: pointer;
		}
	}
}

.chooser {
 	
 	&.in {
		margin-bottom: 3em;
 		padding-bottom: 2em;
		border-bottom:1px solid $dark-text;
 	
	}
}


.szaggat, .gallery .thumbnail, .mfp-figure figure{
	position:relative;
  &:before{
    display:block;
    content:"";
    position:absolute;
    top:-3px;
    right:-3px;
    bottom:-3px;
    left:-3px;
    z-index:-1;
    background: 
      url(../img/border_top.png) repeat-x center top,
      url(../img/border_right.png) repeat-y right center,
      url(../img/border_bottom.png) repeat-x center bottom,
      url(../img/border_left.png) repeat-y left center;
  }
}
.mfp-figure figure{
  &:before{
  	top:37px;
  	bottom:37px;
  }
}

.isotope-item {
  z-index: 2;
}

.isotope-hidden.isotope-item {
  pointer-events: none;
  z-index: 1;
}

