.reflist-wrap {
	width:75%;
	float:right;
	margin-top:0.75em;
	border-left: 1px solid $dark-text;
	padding:0 0 0 1em;

}
.reflist {
	margin:-0.25em -0.25em -0.25em -0.25em;
	padding:0 0em;
}
.reflist-item {
	list-style-type:none;
	margin:0;
	padding:0;
	

	a{
		position:relative;
		display:block;
		text-align: left;
		float:left;
		width:50%;
		position:relative;
		//overflow:hidden;
		padding:0.25em;

		
		@include breakpoint($s1){
			width:33.33333333%;
		}

		@include breakpoint($s2){
			width:25%;
		}

		@include breakpoint($s3){
			//width:20%;
		}


		&:hover{
			//text-decoration: none;


			img {
				//transform:scale(1.2);
				opacity:0;
			}
			h3 {
				//display:block;
				opacity:1;
			}
		}
	

	}

	img {
		transition: all 400ms ease-in;
		//width:50%;
		display: block;

	

	}

	h3{
		font-size:1em;
		padding:20% 1em;
		margin:0;
		position: absolute;
		top:0.25em;left:0.25em; bottom:0.25em; right:0.25em;
		//z-index:3;
		//margin-left:0;
		text-align: center;
		//background: rgba(white,1);
		opacity:0;
		transition: all 400ms ease-in;

	}
}


.refnyito {
	position: absolute;
	left:50%;
	z-index:1;
	margin-left:1em;
	a {
		display: block;
		width:40px;
		height: 40px;
		color:white;
		text-align: center;
		line-height: 40px;
		background-color: black;
	}
}

#chooser {
	max-height:0;
	overflow:hidden;
	transition: max-height 600ms ease-in-out;
	
	&.open {
		max-height:2000px;
		margin-bottom: 2em;
		padding-bottom: 1em;
		border-bottom: 1px solid $dark-text;
	}

}

