.social-wrap {
  background: #333;
	position:relative;
	z-index:2;
//    border-bottom:6px solid $linea;
}

.social-command {
  max-width: $maximum;
  margin:0 auto;
  padding:2em 1em 1em;
}




h3.fbopener {
  margin:0 0;
  padding:0;
  //text-align: center;
  a {
    display: block;
    padding:0.75em 1em 0.5em 1em;
    border:1px solid $footer-text;
    color: $footer-text;
    &:hover, &:focus {
      border:1px solid $dark-bg;
      background: black;
      color: white;
      text-decoration: none;
    }
    span {
      float:right;
      margin: 0 0 0 1em;
    }

  }

}


.entry-share{
  margin:0 0;
  color:$footer-text;


  h3 {
    margin:0.25em 0 0 0;
    padding:0;
    float:left;
    width:50%;
    small {
      display: block;
    }
  } 
  
  ul {
    display: inline-block;
    width:50%;
    margin:0 0 0 0;
    padding:0;
  }
  li {
    list-style-type: none;
    a {
      float:left;
      vertical-align:middle;
      display: inline-block;
      text-align: center;
      font-size: 1.75em;
      line-height: 1.666em;
      margin-right: 0.5em;
	  color: #333;
	  background-color:$footer-text;
	  border-radius:50%;
	  width:1.5em;
	  height:1.5em;
      &:hover, &:focus {
        color: $footer-text;
		    background-color: $linea;
        text-decoration: none;
      }

    }
  }
}
.fb-like {
  margin:3em auto 1em auto;
}
.fb-comments {
  margin:1em auto 4em auto;
}

.entry-comments {
  max-width: $maximum;
  margin:0 auto;
  text-align:center;
	
  @include breakpoint($s2){
    width:66%;
  } 

  // .fb-comments {
  //   margin:0;
  //   padding:0;
  //   height:0;
  //   opacity:0;
  //   display:none;
  //   overflow:hidden;
  //   transition: opacity 400ms ease-in-out;
    
  //   &.open {
  //     display:block;
  //     height:auto;
  //     opacity:1;
  //     margin:1em 0 3em;
  //   } 

  // }
}

.sidebar-wrap {
  background: url('../img/divider.gif') repeat-x center bottom, linear-gradient(to bottom, $dark-bg 25%, $light-bg 50%); 
  padding-bottom: 5em;
  border-top: 6px solid $linea;
}
.sidebar {

	color:$footer-text;
	margin:0 auto;
  max-width: $maximum;
  padding:1em;



  .jobbfel {
    @include breakpoint($s2){
      width:50%;
      float:right;
    } 
  }

  .balfel {
    @include breakpoint($s2){
      width:48%;
      float:left;
    } 
  }

}


  
.widget_related {

  @include breakpoint($s2){
    //width:66.6666666666%;
    //padding:0;
    //clear:left;
    //float:left;
    //margin:0 15%;

  } 
  
  .widget-title{
    text-align: center;
    font-size: 1.5em;
  }

  ol {
    margin:1em 0; 
    padding:0;
    li {
      list-style-type: none;
      width:auto;
      padding:1em 0;

      &:last-child{
        padding-right: 0;
      }
      @include breakpoint($s2){
        float:left;
        width:33.3333333%;
        padding:1em 1.5em 1em 0;
      }
      
    }
    .thumblink {
      float:left;
      display:block;
      width:89px;
      margin-right: 0.5em;
	  backface-visibility:hidden;
		&:hover, &:focus {
			img {
				filter: brightness(0.5) sepia(0.25) saturate(1.75);
			}
		}
      img {
		  transition: all .2s linear;
        display:block;
      }
    }
    
    .rel-cont {
      display:block;

      font-size: 0.875em;
      h3 {
        margin-top: 0;
		a{
			&:hover, &:focus {
				color:$footer-text;
				text-decoration:none;
			}
			
		}
      }
      p{
        
        a{
			display:block;
			//margin-left:97px;
			margin:0.5em 0 0;
			text-align:center;
			max-width:6em;
			//float:right;
			//margin-left:0.5em;
			padding:0.125em 0.25em;
			background-color:rgba($dark-text,0.25);
			&:hover, &:focus {
				background-color:rgba($dark-text,0.5);
				color:#fff;
				text-decoration:none;
			}
		}
      }

    }

  }
}



