.sidebar-wrap {
  background: linear-gradient(to bottom, $dark-bg 75%, $light-bg 100%);  
}
.sidebar {

	color:$footer-text;
	margin:0 auto;
  max-width: $maximum;
  padding:1em;



  .jobbfel {
    @include breakpoint($s2){
      width:50%;
      float:right;
    } 
  }

  .balfel {
    @include breakpoint($s2){
      width:48%;
      float:left;
    } 
  }

}

  .widget_fbcomm {
    h3 {
      margin-bottom:1em;
    }
    .fb-comments {
      padding: 0.5em;
      background: #333;
      border: 2px solid $light-bg;

    }
  }
  
  .widget_moreref {

    @include breakpoint($s2){
      //width:66.6666666666%;
      //padding:0;
      //clear:left;
      //float:left;

    } 
  

  ul {
    margin:1em -0.75em 1em; 
    padding:0;
    li {
      list-style-type: none;
    }
    a {
      text-align: center;
      display:block;
      position: relative;
      float:left;
      width:25%;
      padding:0.75em;


      img {
        //width:40%;
        display:block;
        //margin:0 auto;  
        //float:left;
      }
      .neve {
        position: absolute;
        display:block;
        top:0; right:0;
        bottom:0; left:0;
        padding:1em 0.75em;
        font-family: 'TrajanPro', serif;
        font-size: 0.875em;

      }

    }


  }


  }



