$dark-menu:black;
$light-menu: darken(#ffffff,30%);
$dark-bg:#42210B;
$dark-text:#936D4E;
$footer-text:#C7B299;
$linea:#290D00;
$light-bg:#4e2a0e;


$s1:480px;
$s2:768px;
$s3:980px;
$s4:1200px;
$s5:1600px;

$maximum:1140px;

